/*
.demo {
    background-color: red;
    @include mqMin(w4) {
	    background-color: blue;
	}
}
*/
/*
.demo {
    background-color: red;
    @include mqMax(w4) {
	    background-color: blue;
	}
}
*/
/*
.demo {
    background-color: red;
    @include mqRange(w2, w4) {
	    background-color: blue;
	}
}
*/
.dropdown {
  display: inline-block;
  position: relative; }

.dropdown__btn {
  cursor: pointer; }

.dropdown__menu {
  -webkit-box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  background-color: #e6e6e6;
  position: absolute;
  min-width: 10rem; }

.dropdown_nested {
  display: block; }
  .dropdown_nested .dropdown__menu {
    left: 100%;
    top: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }

.dropdown_mega {
  display: block;
  width: 100%; }
  .dropdown_mega .dropdown__menu {
    width: 100%; }

.dropdown__menu_right {
  left: -100%; }

.dropdown__menu_center {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

@media screen and (max-width: 767px) {
  .dropdown_responsive {
    width: 100%;
    display: block; }
    .dropdown_responsive .dropdown__menu {
      position: static;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      width: 100%; } }
