.dropdown__menu {
  border-style: solid;
}

.dropdown {
  display: inline-block;
}

.dropdown__menu_left {
  left: 0;
}

.dropdown__menu_center {
  left: 50%;
}

.dropdown__menu_right-most {
  left: 100%;
}

.dropdown__menu {
  position: absolute;
}

.dropdown {
  position: relative;
}

.dropdown__menu_right {
  right: 0;
}

.dropdown__menu_left-most {
  right: 100%;
}

.dropdown__menu {
  z-index: 100;
}

/*
.demo {
    background-color: red;
    @include mqMin(w4) {
	    background-color: blue;
	}
}
*/
/*
.demo {
    background-color: red;
    @include mqMax(w4) {
	    background-color: blue;
	}
}
*/
/*
.demo {
    background-color: red;
    @include mqRange(w2, w4) {
	    background-color: blue;
	}
}
*/
.dropdown__menu {
  padding: 0.8rem;
}

/*
@include generateResponsiveGutter($guttersBreakpointsMap, $smallGuttersList, $containerClassName, $rowClassName, $columnClassName, $smallGutterModifierName);
@include generateResponsiveGutter($guttersBreakpointsMap, $largeGuttersList, $containerClassName, $rowClassName, $columnClassName, $largeGutterModifierName);*/
.dropdown__menu {
  background-color: #fff;
  border-color: #ccc;
  border-radius: 0.3rem;
  border-width: 0.05rem;
  min-width: 10rem;
}

.dropdown__menu_center {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
