//----------------
//BLOCK
//----------------

.dialog {
  background: rgba(34, 34, 34, 0.9);
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
//----------------
//ELEMENTS
//----------------

.dialog__wrapper {
  background: #fff;
  border: 0.01rem solid #c7c7c7;
  max-width: 20rem;
  position: relative;
}

.dialog__container {
  padding: 1rem;
}

.dialog__header {
  //
}

.dialog__heading {
  margin: 0;
}

.dialog__dismiss-btn {
  right: 1rem;
  top: 1rem;
  position: absolute;
}

.dialog__body {
  //
}

.dialog__options {
  //
}

.dialog__option-btn {
  //
}
